@import "../../style.scss";

button {
  width: 65px;
  padding: 2rem;
  border-radius: 10px;
  border-color: rgb(58, 58, 58);
  outline: none;
  margin: 0.5rem;
  transition: all 0.1s linear;
}
@for $i from 1 to 4 {
  button:nth-child(#{$i}) {
    background-color: #20e8e8;
  }
}
@for $i from 4 to 7 {
  button:nth-child(#{$i}) {
    background-color: #25d946;
  }
}
@for $i from 7 to 10 {
  button:nth-child(#{$i}) {
    background-color: #6600ff;
  }
}
.playing {
  border: 2px solid orange;
  border-style: inset;
}
