* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.linksContainer {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  .logo button {
    display: none;
  }

  .list {
    display: flex;
    li {
      margin: 1rem;
      list-style: none;
      color: black;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  .socials {
    display: flex;
    align-items: center;
    a {
      margin: 2rem;
      font-size: 30px;
    }
  }
}
@media screen and (max-width: 850px) {
  body {
    background-color: grey;
  }
  nav .socials {
    display: none;
  }
  nav {
    position: relative;
    .logo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      button {
        display: inline-block;
        font-size: 30px;
        margin: 1rem;
        transition: all 0.5s linear;
        color: skyblue;
      }
      button:focus {
        transform: rotate(90deg);
      }
    }
    .linksContainer {
      position: absolute;
      background-color: #fff;
      top: 4rem;
      left: 0;
      width: 100%;
      transition: all 0.3s ease-in-out;

      .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
