$background-color: #141414;
$border-radius: 50%;
$lighter-background: #616060;

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  color: #fff;

  .bg {
    width: 100%;
    height: 100vh;
    background-color: #daa4db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .calculator {
      background-color: $background-color;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 320px;
      overflow: hidden;

      .display {
        height: 3rem;
        width: 100%;
        margin: 1rem;
        padding: 1rem;
        h1 {
          text-align: right;
          padding: 0 1rem;
        }
      }

      button:last-child {
        background-color: orange;
        color: white;
      }
      #clear {
        width: 13rem;
        border-radius: 40px;
      }
      #zero {
        width: 8rem;
        border-radius: 40px;
      }
      button {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        border-radius: $border-radius;
        background-color: $lighter-background;
        border: 0;
        outline: 0;
        margin: 1rem;
        color: #fff;
      }
    }
  }
}
.footer {
  margin: 2rem;
  color: #000;
}
