* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

.App {
  width: 100%;
  overflow-x: hidden;
}
.App nav {
  background-color: #333;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
}
.App nav .links {
  display: flex;
  align-items: center;
}
.App nav .links .contact {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.App nav .links .contact p {
  margin-top: 0.5rem;
}
.App nav .links a {
  text-decoration: none;
  color: #fff;
  margin: 1rem;
}
.App nav .links a:hover {
  color: #13b6f7;
}
.App .home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  background-image: linear-gradient(90deg, #13b6f7 35%, #6af5ff 100%);
}
.App .home .text {
  width: 50%;
  text-align: center;
  color: #fff;
  padding: 2rem;
}
.App .home .text span {
  color: #333;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.about header {
  font-size: 40px;
  margin: 1rem;
}
.about .content {
  width: 80%;
  text-align: center;
}
.about .content p {
  letter-spacing: 1px;
}
.about .content h3 {
  margin: 1rem;
  text-decoration: underline;
  text-align: center;
}

.projects {
  width: 100%;
  display: flex;
  background-color: #13b6f7;
  padding: 2rem;
  flex-wrap: wrap;
}
.projects .project {
  width: 20rem;
  margin: 0.5rem 1.5rem;
  height: 25rem;
  overflow-y: scroll;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  border: 3px solid #333;
}
.projects .project h1,
.projects .project p {
  font-size: medium;
}
.projects .project p {
  letter-spacing: 1px;
}

.projects .project .tech button {
  margin: 0.2rem;
  padding: 0.3rem;
  border-color: #6af5ff;
  background-color: #fff;
  color: #13b6f7;
  border-radius: 5px;
}
.projects .project img {
  width: 100%;
  object-fit: cover;
}
.project::-webkit-scrollbar {
  width: 0.5rem;
}
.project::-webkit-scrollbar-track {
  background-color: #dbd9d9;
  border-radius: 10px;
}
.project::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}
.projects .project .buttons {
  display: flex;
  justify-content: space-between;
}
.projects .project .buttons a {
  display: inline-block;
  margin: 0 1rem;
  border: 1px solid #13b6f7;
  padding: 0.3rem;
  border-radius: 5px;
  text-decoration: none;
  color: #13b6f7;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem;
  width: 100%;
}
footer h1 {
  width: 100%;
  text-align: center;
}
.icon {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
footer a {
  color: #13b6f7;
  font-size: 5rem;
}

p {
  font-weight: 300;
}

@media screen and (max-width: 900px) {
  .App .home .text {
    width: 100%;
  }
  .App nav .links a {
    display: none;
  }
  .App nav {
    padding-left: 0;
  }
  .App nav .logo {
    width: 70%;
  }
  .App nav .logo h1 {
    display: block;
    font-size: 1rem;
    padding-left: 1rem;
  }
  .projects {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-content: center;
  }
  .projects .project {
    width: 80%;
  }

  .about .content {
    width: 95%;
    text-align: left;
  }
  footer {
    padding: 3rem 2rem;
  }
  footer h1 {
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
